rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // আপনার অ্যাডমিন ইমেইল চেক করার ফাংশন
    function isAdmin() {
      return request.auth != null && (request.auth.token.email == "its.me.calloftamim@gmail.com" || request.auth.token.email == "muslimsathisupport@gmail.com");
    }

    // Settings কালেকশনের রুলস (সাধারণ ইউজার শুধু পড়তে পারবে, অ্যাডমিন লিখতে পারবে)
    match /settings/{settingDoc} {
      allow read: if true; 
      allow write: if isAdmin(); 
    }

    // Users কালেকশনের রুলস
    match /users/{userId} {
      allow read, write: if true;
    }
    
    // Notifications কালেকশনের রুলস
    match /notifications/{notificationId} {
      allow read, write: if true;
    }

    // Withdrawals (Cashout) কালেকশনের রুলস
    match /withdrawals/{requestId} {
      allow read, write: if true;
    }

    // Deposits কালেকশনের রুলস
    match /deposits/{depositId} {
      allow read, write: if true;
    }

    // Gmail Requests
    match /gmail_requests/{id} {
      allow read, write: if true;
    }

    // Facebook Requests
    match /facebook_requests/{id} {
      allow read, write: if true;
    }

    // Instagram Requests
    match /instagram_requests/{id} {
      allow read, write: if true;
    }

    // WhatsApp Requests
    match /whatsapp_requests/{id} {
      allow read, write: if true;
    }

    // Telegram Requests
    match /telegram_requests/{id} {
      allow read, write: if true;
    }

    // Mobile Recharge Requests
    match /recharge_requests/{id} {
      allow read, write: if true;
    }
    
    // Drive Offers কালেকশনের রুলস
    match /drive_offers/{offerId} {
       allow read, write: if true;
    }

    // Drive Orders
    match /drive_orders/{orderId} {
      allow read, write: if true;
    }
    
    // Task Posts কালেকশনের রুলস
    match /task_posts/{taskId} {
      allow read, write: if true;
    }
    
    // Job Posts কালেকশনের রুলস
    match /job_posts/{jobId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
